<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>The Wall</title>
  <meta name="The Wall" content="The Wall project">
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/stylesheet.css') }}">

</head>
<div id='main'>
<header>
   <h1>CodingDojo Wall</h1>
   <p>Welcome {{  session['first_name'] }}!</p>
   <a href="/logout">log off</a>
</header>

<body>
   <div id='post_area'>
      <h3>Post a message</h3>
      <form action='/post' method='POST' id='post_form'>
         <textarea wrap="hard" name="content" id="content"></textarea>
         <p><input type="submit" value="Post a message" id="submit"></p>
      </form>
   </div>

   <hr>
      {% for message in messages: %}
         <div class=posted_msg>
            <h5>{{  message['full_name']  }} - {{  message['updated_at']  }}</h5>
            <p>{{  message['message']  }}</p>
         </div>

      <form action='/reply/{{message['id']}}' id="comment" method='POST'>
         <textarea wrap="hard" name="content" id="comment_field" >Reply to Post</textarea>
         <input type="submit" value="Submit" id="submit_comment" >
         </form>
         {% for comment in comments: %}
            {% if message['id'] == comment['message_id'] %}
         <div class=posted_comment>
            <h5>{{  comment['full_name']  }} - {{  comment['updated_at']  }}</h5>
            <p>{{  comment['comment']  }}</p>
         </div>
            {% endif %}
         {% endfor %}
      {% endfor %}
   <hr>
</body>
<footer>

</footer>
</div>
</html>
